{% extends 'base.html.twig' %}

{% block title %}Liste des livres{% endblock %}

{% block body %}
    {# category filter #}
    <section style="width:60%; margin:auto; margin-top: 50px; margin-bottom: 50px">
        <form method="GET" action="{{ path('app_livre_index') }}" style="margin-bottom: 20px;">
            <label for="categoryFilter">Choisir une catégorie :</label>
            <select name="category" id="categoryFilter" onchange="this.form.submit()">
                <option value="">Toutes les catégories</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id == app.request.get('category') %}selected{% endif %}>{{ category.nom }}</option>
                {% endfor %}
            </select>
        </form>
    </section>

    {# livre cards #}
    <section style="width:60%; margin:auto; margin-top: 50px; margin-bottom: 50px">
        {% for livre in livres %}
            <div class="card mb-3" style="background-color: rgb(70, 58, 41); display:flex; flex-direction:column">
                <h3 class="card-header">{{ livre.title }}</h3>
                <div class="card-body">
                    <h5 class="card-title">Auteur : {{ livre.auteur }}</h5>
                    <h6 class="card-subtitle text-muted">{{ livre.category.nom }}</h6>
                </div>

                {% if livre.cover %}
                    <img src="/uploads/{{ livre.cover }}" alt="{{ livre.title }}">
                {% endif %}
            </div>
        {% endfor %}
    </section>
{% endblock %}
